/*-------------------------------------------*\
   variables.less

   Index
   - Color Palette
   - Body
   - Navbar
   - Overlay Seach Button
   - Typography
   - Buttons
   - Forms
   - Layout
   - Messaging & Status
   - General
   - Navigation
   - Carousel
   - Jumbotron
\*-------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
@font-face {
	font-family: Calibri, sans-serif;
	src: url("../fonts/Calibri.ttf");
}

body {
	font-family: "Calibri", sans-serif;
	margin: 0px;
	padding: 0px;
}

.btn-simulasi-light {
	background: #fff 0% 0% no-repeat padding-box;
	color: #000;
	border-radius: 30px;
	border: none;
	position: center;
	width: 250px;
	height: 45px;
	padding: 12px;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	transition-duration: 0.4s;
	margin-top: 8%;
}

.btn-simulasi-dark {
	background: #0f2b5b 0% 0% no-repeat padding-box;
	color: #fcd116;
	border-radius: 30px;
	border: none;
	position: center;
	width: 250px;
	height: 45px;
	padding: 12px;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	transition-duration: 0.4s;
}

.btn-simulasi-flat {
	background: #0f2b5b 0% 0% no-repeat padding-box;
	color: #fcd116;
	border-radius: 10px;
	border: none;
	position: center;
	width: 250px;
	height: 50px;
	padding: 15px;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	transition-duration: 0.4s;
	margin-top: 5%;
	margin-bottom: 10%;
}

.btn-simulasi-light:hover {
	background-color: #0f2b5b;
	color: #fff;
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.24), 0 14px 40px 0 rgba(0, 0, 0, 0.15);
}

.btn-simulasi-dark:hover {
	background-color: #fff;
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.24), 0 14px 40px 0 rgba(0, 0, 0, 0.15);
}

.btn-simulasi-flat:hover {
	background-color: #fff;
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.24), 0 14px 40px 0 rgba(0, 0, 0, 0.15);
}
